################################################################################	
[include]
    path = ~/.proFILEs/.gitconfig
    path = /cygdrive/.gradle/OneDrive/_MyPrivate/_gitconfig

################ command config

#git config --global diff.tool bc
#git config --global merge.tool win
[core]
    # when push, convert to linux format from CRLF to LF
    autocrlf = input

[diff]
    tool = bc
    #tool = vimdiff

[difftool]
    prompt = false
[difftool "bc"]
    cmd = ~/.proFILEs/cygwin/beyondcompare-diff.sh \"$LOCAL\" \"$REMOTE\"
[difftool "diff"]
    cmd = ~/.proFILEs/cygwin/diffmergetool.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = false
[difftool "vi"]
    cmd = vi -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' \"$LOCAL\" \"$REMOTE\" 

[merge]
    tool = bc

[mergetool]
    prompt = false
[mergetool "bc"]
    cmd = ~/.proFILEs/cygwin/beyondcompare-merge.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool "diff"]
    cmd = ~/.proFILEs/cygwin/diffmergetool.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[gui]
    encoding = cp949

[color]
    ui = auto
[difftool "sourcetree"]
    cmd = 'D:/.gradle/OneDrive/_MyProgram/_IDEditor/_BC30/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = 'D:/.gradle/OneDrive/_MyProgram/_IDEditor/_BC30/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true
