# please see /etc/.inputrc too


############################# This is for using Hangul ##############################
# input 8bit input
set meta-flag on
set input-meta on

#turn off 8th bit stripping
set convert-meta off

#keep the 8th bit for display
set output-meta on



############################# This is for No case sensitive  ##############################
# Ignore case while tab completing
set completion-ignore-case on
# Ignore hyphens and underscores
set completion-map-case on


# if there are more than 150 possible completions for a word, ask the user if he wants to see all of them
#set completion-query-items 150
# don't ask & don't show possible completions
set completion-query-items -1
set page-completions off


# put the '/'char to end of directory to distinct with file, same way as 'ls -F' 
set visible-stats on


# Completed names which are symbolic links to directories have a slash appended.
set mark-symlinked-directories on


# have to hit the <Tab> key twice to produce a list of all possible completions.
# A single <Tab>  will suffice.
set show-all-if-ambiguous on


# none, visible or audible, tab completion mismatch
set bell-style none


# print output on only 1 line
set horizontal-scroll-mode off


# default is EMACS mode, this is better for even VI-users in CLI
# edit vi control mode for any vi-compatible program
set editing-mode emacs

#set editing-mode vi
# edit vi control mode for only bash
#set -o vi
# check if emacs mode or vi mode (bind -P)
# Emacs mode : ctrl+w : delete word
# Vi mode : ESC+b : delete word
 
############################## This is Key Binding ##############################
#key-binding¿ ¿¿¿ ¿¿¿¿ ¿¿ ¿¿¿¿ key¿¿ ¿¿¿¿¿ ¿¿¿ ¿¿ ¿¿¿¿.
#Ctrl+V, key ¿¿¿¿ homekey¿ ¿¿¿¿¿ Ctrl+V HOME¿¿¿¿ ¿¿¿ ¿¿

$if mode=emacs
   # Move head of line and end
   "\e[1~": beginning-of-line
   "\e[4~": end-of-line

   # Ctrl+arrows
   "\e[1;5C": forward-word
   "\e[1;5D": backward-word

   # Alt+arrows
   #"\e[3C": forward-word
   #"\e[3D": backward-word

   # allow the use of the Delete/Insert keys
   "\e[3~": delete-char
   "\e[2~": quoted-insert

   # page-up/down¿ ¿¿ scroll-up/down¿ terminal setting¿¿ ¿¿¿¿.
   # shell setting¿ ¿¿. ¿¿¿ ¿¿¿ screen¿¿ pageup/down¿ ctrl¿ ¿¿ ¿¿¿ ¿¿. 
   # mappings for "page up" and "page down" to step to the beginning/end of the history
   "\e[5~": beginning-of-history
   "\e[6~": end-of-history

   # alternate mappings for "page up" and "page down" to search the history
   #"\e[5~": history-search-backward
   #"\e[6~": history-search-forward
$endif

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    "k": history-search-backward
    "j": history-search-forward
    "?": reverse-search-history
    "/": forward-search-history

    set keymap vi-insert
    "\C-l": clear-screen
    "\C-w": backward-kill-word
    "\C-a": beginning-of-line
    "\C-e": end-of-line
$endif
